{% extends "base.html" %}

{% block content %}
<html lang="en">

<head>
    <title>Car Sharing Service</title>

    <img src="https://media1.tenor.com/images/44bae06526aebf418d50f75ca533c250/tenor.gif?itemid=6177870">
    <img src="https://media1.tenor.com/images/44bae06526aebf418d50f75ca533c250/tenor.gif?itemid=6177870">
    <img src="https://media1.tenor.com/images/44bae06526aebf418d50f75ca533c250/tenor.gif?itemid=6177870">

    <h1>Welcome to the Car Sharing Page! Choose your level: </h1>

</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/user">User</a>
                    </li>
                    <li role="presentation"><a href="/admin">Admin</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</body>
{% endblock %}